@font-face {
  font-family: "raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: 1440px;
  min-height: 100%;
  margin: 0 auto;
  font-family: "raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.page-header {
  position: relative;
  width: 1160px;
  margin: 40px auto 5px;
  color: #000000;
}

.logo-link {
  position: absolute;
  margin-top: -23px;
  margin-left: 60px;
}

.logo-link:hover {
  opacity: 0.6;
}

.logo-link:focus {
  outline: 2px solid #af4fff;
}

.navigation {
  margin-bottom: 41px;
  padding-top: 43px;
}

.navigation-index {
  margin-bottom: 0;
}

.navigation-index::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  display: block;
  width: 1160px;
  height: 300px;
  background-color: #ffe17f;
}

.header-search-wrapper {
  align-items: center;
  display: flex;
  width: 1040px;
  margin: 0 auto 42px;
}

.search-form {
  display: flex;
  width: 517px;
  margin-right: 53px;
}

.search-input {
  width: 359px;
  height: 40px;
  margin: 0;
  padding-left: 48px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  background-color: inherit;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
}

.search-input-wrapper {
  position: relative;
  z-index: 1;
}

.search-input-wrapper::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 16px;
  display: inline-block;
  width: 16px;
  height: 17px;
  background-image: url("/device/images/searh.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.search-input-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
}

.search-input:focus {
  outline: none;
}

.search-input-wrapper:focus-within::before {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.search-button {
  position: relative;
  width: 158px;
  height: 40px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  background-color: inherit;
  border: 2px solid #000000;
  border-left: none;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
}

.search-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.search-input:disabled,
.search-button:disabled {
  opacity: 0.3;
}

.search-button:hover {
  color: #ffffff;
  background-color: #000000;
}

.search-button:disabled:hover {
  color: inherit;
  background-color: inherit;
  cursor: default;
}

.search-button:focus {
  outline: none;
}

.search-button:focus::before {
  outline: 2px solid #af4fff;
  outline-offset: 4px;
}

.navigation-user-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-user-item {
  position: relative;
  padding: 5px 0;
}

.user-item {
  background-image: url("/device/images/human.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
  margin: 0;
}

.compare-item {
  background-image: url("/device/images/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
  margin-left: 14px;
}

.navigation-user-item:hover {
  opacity: 0.6;
}

.navigation-user-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: -32px;
  display: block;
  width: 20px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: right center;
}

.basket-item::before {
  background-image: url("/device/images/basket.svg");
}

.basket-item::after {
  content: "2";
  position: absolute;
  top: 10px;
  left: -43px;
  display: block;
  width: 21px;
  height: 21px;
  padding-top: 2px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 50%;
}

.popover {
  position: absolute;
  top: 85px;
  right: -17px;
  z-index: 3;
  box-sizing: border-box;
  width: 320px;
  min-height: 217px;
  color: #ffffff;
  background-color: #000000;
}

.popover-close {
  display: none;
}

.popover-open {
  display: block;
}

.popover::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 155px;
  width: 10px;
  height: 10px;
  background-color: #000000;
  transform: rotate(45deg);
}

.popover-content {
  height: 100%;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.basket-items-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.popover-basket-item {
  position: relative;
  margin-bottom: 20px;
}

.basket-item-link {
  display: flex;
  padding-right: 50px;
  color: inherit;
  text-decoration: none;
}

.basket-item-link:hover {
  opacity: 0.6;
}

.basket-item-link:focus {
  outline: none;
}

.basket-item-link:focus::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 18px;
  width: 254px;
  height: calc(100% - 16px);
  outline: 2px solid #af4fff;
}

.basket-item-image {
  margin: 0;
  padding: 20px 20px 0;
}

.basket-item-text {
  padding-top: 20px;
  padding-left: 3px;
}

.basket-item-button {
  position: absolute;
  background-image: url("/device/images/basketvector.svg");
  background-repeat: no-repeat;
  top: 18px;
  right: 18px;
  width: 14px;
  height: 14px;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: #000000;
  color: #ffffff;
}

.basket-item-button:hover {
  opacity: 0.6;
}

.basket-item-button:focus {
  outline: none;
}

.basket-item-button:focus::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  outline: 2px solid #af4fff;
}

.popover-basket-results {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #1a1a1a;
}

.popover-results-text {
  margin: 13px 0;
}

.basket-open-button {
  width: 280px;
  height: 50px;
  margin: 20px;
  padding: 0 0 3px 3px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border: none;
  cursor: pointer;
}

.basket-open-button:hover {
  background-color: #ffe17f;
}

.basket-open-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.navigation-user-link:focus {
  outline: none;
}

.navigation-user-item:not(:last-of-type) {
  margin-right: 100px;
}

.navigation-user-item:first-child {
  margin-right: auto;
}

.navigation-user-link::before {
  content: "";
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -30px;
}

.basket-link::before {
  left: -45px;
}

.navigation-user-link:focus::before {
  outline: 2px solid #af4fff;
}

.navigation-catalog-wrapper {
  display: flex;
  align-items: center;
  width: 1044px;
  height: 20px;
  margin: 0 56px 0 auto;
}

.navigation-catalog-button {
  position: relative;
  z-index: 2;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-color: #ffe17f;
  border: none;
  cursor: pointer;
}

.navigation-catalog {
  position: relative;
  height: 20px;
  margin-right: auto;
}

.navigation-catalog-button::after {
  content: "";
  position: absolute;
  top: 9px;
  right: -68px;
  z-index: 2;
  width: 48px;
  height: 48px;
  background-image: url("/device/images/minus.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #000000;
  border-radius: 50%;
  transform: translateY(-50%);
  opacity: 0.3;
}

.navigation-catalog-close::after {
  background-image: url("/device/images/plus.svg");
}

.navigation-catalog-button:hover::after {
  opacity: 1;
}

.navigation-catalog-button::before {
  content: "";
  position: absolute;
  top: -18px;
  left: -2px;
  width: 297px;
  height: 54px;
}

.navigation-catalog-button:hover::before {
  display: block;
}

.navigation-catalog-button + .navigation-catalog-list {
  display: flex;
}

.navigation-catalog-button:focus {
  outline: none;
}

.navigation-catalog-button:focus::before {
  outline: 2px solid #af4fff;
}

.navigation-catalog-close ~ .navigation-catalog-list {
  display: none;
}

.navigation-catalog:focus-within > .navigation-catalog-list {
  display: flex;
}

.navigation-catalog:focus-within > .navigation-catalog-button::after {
  background-image: url("/device/images/minus.svg");
}

.navigation-catalog-list {
  position: absolute;
  top: 100%;
  left: -60px;
  z-index: 1;
  display: none;
  margin: 0;
  grid-template-columns: repeat(4, max-content);
  padding: 24px 60px 27px;
  margin-bottom: 29px;
  list-style: none;
  background-color: #ffe17f;
}

.navigation-catalog-open .navigation-catalog-list {
  display: grid;
  gap: 30px;
}

.navigation-catalog-item {
  display: flex;
  flex-direction: column;
  min-width: 222px;
}

.navigation-catalog-link {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: "Rubik", sans-serif;
  color: #000000;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.navigation-catalog-link:focus {
  outline: 2px solid #af4fff;
}

.navigation-catalog-link:hover {
  opacity: 0.6;
}

.navigation-catalog-link:active {
  opacity: 0.3;
}

.navigation-advantages-list {
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 475px;
  height: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-advantages-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.navigation-advantages-link:hover {
  opacity: 0.6;
}

.navigation-advantages-link:focus {
  outline: 2px solid #af4fff;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 495px;
  margin-left: auto;
}

.navigation-user-link {
  position: relative;
  display: block;
  padding-left: 26px;
  font-family: "Rubik", "Tahoma", sans-serif;
  color: #000000;
  text-decoration: none;
}

.navigation-user-link-sign {
  background-image: url("/device/images/human.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
}

.navigation-user-link-compare {
  padding-left: 18px;
  background-image: url("/device/images/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
}

.navigation-user-link-card {
  padding-left: 41px;
  background-image: url("/device/images/basket.svg");
  background-repeat: no-repeat;
  background-position: 14px center;
}

.navigation-user-link:hover {
  opacity: 0.6;
}

.navigation-user-link:active {
  opacity: 0.3;
}

.navigation-user-link-exit {
  padding-left: 0;

  opacity: 0.3;
}

.navigation-user-item-compare {
  margin-left: auto;
}

.navigation-card-count {
  position: absolute;
  top: 5px;
  left: 0;
  z-index: 1;
  display: block;
  width: 21px;
  padding: 2px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  border-radius: 50%;
}

.navigation-catalog-link-button {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 50px;
  height: 50px;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.3;
}

.navigation-catalog-link-button::before,
.navigation-catalog-link-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 2px;
  background-color: #000000;
  transform: translate(-50%, -50%);
}

.navigation-catalog-link-button::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.navigation-catalog-open .navigation-catalog-link-button::after {
  display: none;
}

.navigation-catalog-link-button:hover {
  opacity: 1;
}

.main-index {
  flex-grow: 1;
}

.main-slider {
  position: relative;
  width: 1160px;
}

.slider-cards {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: cards;
}

.slider-card {
  position: absolute;
  display: flex;
  justify-content: space-between;
  visibility: hidden;
  counter-increment: count;
}

.slider-card::before {
  content: "0" counter(count);
  position: absolute;
  top: 0;
  right: 60px;
  width: 200px;
  min-height: 135px;
  font-weight: 700;
  font-size: 180px;
  line-height: 154px;
  color: #ffffff;
}

.slider-card-active {
  position: static;
  visibility: visible;
}

.slider-text {
  margin-top: 0;
  margin-bottom: 61px;
  color: #444444;
}

.slider-link {
  width: 224px;
  margin-bottom: 59px;
}

.slider-properties {
  display: flex;
  flex-wrap: wrap;
}

.slider-properties-wrapper {
  margin-bottom: 38px;
}

.slider-properties-wrapper:not(:last-child) {
  margin-right: 21px;
}

.slider-controls {
  position: absolute;
  top: 42%;
  left: 30px;
  display: flex;
  justify-content: space-between;
  width: 530px;
  transform: translateY(-50%);
}

.slider-button {
  width: 24px;
  height: 64px;
  background: none no-repeat center;
  border: none;
  cursor: pointer;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:focus {
  outline: 2px solid #af4fff;
}

.slider-button:active {
  opacity: 0.3;
}

.slider-prev {
  background-image: url("/device/images/arrowl.svg");
}

.slider-next {
  background-image: url("/device/images/arrowr.svg");
}

.slider-button:hover,
.slider-pagination-button:hover {
  opacity: 0.6;
}

.slider-button:focus,
.slider-pagination-button:focus {
  outline: 2px solid #af4fff;
}

.button {
  position: relative;
  z-index: 0;
  display: block;
  height: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.button::before {
  content: "";
  position: absolute;
  top: 6px;
  right: -5px;
  left: -5px;
  z-index: -1;
  height: 8px;
  background-color: #ffe17f;
}

.button:hover::before {
  top: -10px;
  height: 40px;
}

.button:focus {
  outline: none;
}

.button:focus::after {
  content: "";
  position: absolute;
  top: -10px;
  right: -5px;
  left: -5px;
  z-index: -1;
  height: 40px;
  border: 2px solid #af4fff;
}

.button:disabled {
  cursor: default;
  opacity: 0.3;
}

.button:disabled::before {
  top: 6px;
  height: 8px;
}

.slider-text-wrapper {
  width: 560px;
  padding-top: 122px;
}

.slider-title {
  position: relative;
  margin: 0;
  margin-bottom: 29px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

.number-slider {
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
}

.slider-size {
  display: inline-block;
  height: 30px;
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 36px;
  line-height: 30px;
  font-weight: 400;
}

.description-slider {
  margin: 0;
  font-size: 16px;
  color: #444444;
}

.slider-pagination {
  bottom: 170px;
  position: absolute;
  right: -2px;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-pagination-button {
  display: block;
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  background: transparent;
}

.slider-pagination-item {
  display: flex;
}

.slider-pagination-item:not(:last-child) {
  margin: 0 20px 0 0;
}

.slider-pagination-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border: 2px solid #000000;
  border-radius: 50%;
}

.slider-pagination-button-active::after {
  background-color: #000000;
}

.slider-pagination-button:hover {
  opacity: 0.6;
}

.slider-pagination-button:focus {
  border: 2px solid #af4fff;
}

.slider-pagination-button:active {
  opacity: 0.3;
}

.slider-pagination-button-current {
  background-color: #242424;
}

.catalog-menu-total {
  width: 1160px;
  margin: 0 auto 73px;
  padding-top: 70px;
}

.main-catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-catalog-item {
  width: 160px;
}

.main-catalog-item:focus-within {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.main-catalog-link {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: inherit;
  text-decoration: none;
  letter-spacing: -0.02em;
}

.main-catalog-link::before {
  content: "";
  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 30px;
  background-color: #ffe17f;
  background-repeat: no-repeat;
  background-position: center;
}

.main-catalog-link:focus {
  outline: none;
}

.main-catalog-link:hover::before {
  background-color: #ffc700;
}

.vr-link::before {
  background-image: url("/device/images/virtual.svg");
}

.monopods-link::before {
  background-image: url("/device/images/monopod.svg");
  background-position: bottom;
}

.cameras-link::before {
  background-image: url("/device/images/camera.svg");
}

.fitness-trackers-link::before {
  background-image: url("/device/images/fitnes.svg");
}

.smartwatch-link::before {
  background-image: url("/device/images/watch.svg");
}

.quadrocopters-link::before {
  background-image: url("/device/images/kopter.svg");
}

.main-advantages-wrapper {
  position: relative;
  min-height: max-content;
  overflow: hidden;
}

.main-advantages-wrapper::after {
  content: "";
  position: absolute;
  top: 102px;
  z-index: -2;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
}

.servises {
  display: flex;
  width: 1160px;
  margin: 0 auto 72px;
}

.servises-link {
  display: block;
  width: 153px;
  margin: 0 0 56px 6px;
}

.button-active {
  position: relative;
  display: block;
  height: 20px;
  margin-left: 5px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  color: #ffe17f;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  background-color: #000000;
}

.button-active::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -5px;
  z-index: -1;
  display: block;
  width: 280px;
  height: 40px;
  background-color: #000000;
}

.button-active::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -5px;
  z-index: 1;
  display: block;
  width: 280px;
  height: 40px;
}

.button-active:hover {
  color: rgba(255, 225, 127, 0.5);
}

.button-active:focus {
  outline: none;
}

.button-active:focus::after {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.main-advantages-list {
  max-width: 748px;
  margin: 0;
  padding: 73px 0 0 0;
  list-style: none;
}

.main-advantages-item {
  position: relative;
  display: none;
}

.main-advantages-item::after {
  content: "";
  position: absolute;
  top: 0;
  display: block;
  background-repeat: no-repeat;
}

.advantages-delivery::after {
  top: 4px;
  left: 558px;
  width: 135px;
  height: 165px;
  background-image: url("/device/images/delivery.svg");
}

.advantages-guarantee::after {
  top: -10px;
  left: 558px;
  width: 171px;
  height: 195px;
  background-image: url("/device/images/garantee.svg");
}

.advantages-credit::after {
  top: -7px;
  left: 573px;
  width: 156px;
  height: 189px;
  background-image: url("/device/images/credit.svg");
}

.advantages-item-active {
  display: block;
}

.main-advantages-title {
  margin: 0 0 33px 0;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

.main-advantages-text {
  width: 475px;
  margin: 0;
  color: #444444;
}

.main-advantages-links {
  width: 280px;
  margin: 0 116px 0 0;
  padding: 0;
  padding-top: 73px;
  padding-bottom: 17px;
  list-style: none;
  border-right: 7px solid #000000;
}

.delivery-link {
  position: relative;
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  white-space: nowrap;
  background-color: #f0f0f0;
  padding: 38px 0;
}

.delivery-group {
  margin: 0 0 70px 0;
}

.delivery-text {
  display: block;
}

.delivery-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 125px;
  height: 100px;
  background-color: #ffe17f;
  background-image: url("/device/images/car.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.delivery-link::after {
  content: "i";
  position: absolute;
  top: 30px;
  right: 43px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: none;
  letter-spacing: normal;
  background-color: rgba(220, 220, 220, 0.5);
  border-radius: 50%;
}

.delivery-link:hover::before {
  background-color: #ffc700;
}

.delivery-link:hover::after {
  color: #000000;
}

.delivery-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.all-contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1160px;
  margin: 0 auto 80px;
}

.about_us {
  font-family: "rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-left: 144px;
  margin-right: 144px;
}

.about-us-title {
  margin: 0 0 47px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

.about-us-title::before {
  content: "";
  display: block;
  width: 84px;
  height: 7px;
  margin-bottom: 41px;
  background-color: #000000;
}

.about-us-text {
  width: 497px;
  margin: 0 0 30px;
  color: #444444;
}

.transport {
  margin: 0 0 40px;
  padding-left: 20px;
}

.transport-item {
  margin-bottom: 19px;
  padding-left: 15px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.transport-item:last-child {
  margin-bottom: 40px;
}

.transport-item::marker {
  color: #ffc700;
}

.about-us-link {
  width: 273px;
}

.contacts {
  width: 532px;
}

.contacts-title {
  margin: 0 0 48px 0;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

.contacts-title::before {
  content: "";
  display: block;
  width: 84px;
  height: 7px;
  margin-bottom: 41px;
  background-color: #000000;
}

.contacts-text {
  width: 498px;
  margin: 0 0 30px;
  color: #444444;
}

.contacts-subtitle {
  margin: 0 0 15px;
  font-size: 24px;
  font-weight: 700;
  color: #444444;
}

.contacts-address {
  margin-bottom: 30px;
  font-style: normal;
  color: #444444;
}

.contacts-address-text {
  margin: 0;
}

.contacts-phone {
  color: inherit;
}

.contacts-phone:focus {
  outline: 2px solid #af4fff;
}

.contacts-schedule {
  margin: 0 0 40px;
  padding: 0;
  color: #444444;
  list-style: none;
}

.link-contact-us {
  width: 263px;
}

.mailing-list {
  background-color: #f0f0f0;
}

.mailing-text-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 0 144px;
}

.mailing-list-title {
  width: 348px;
  margin: 0;
  padding-top: 64px;
  padding-left: 8px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

.mailing-list-title-text {
  width: 553px;
  margin: 0;
  padding-top: 73px;
  color: #444444;
}

.mailing-form-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 55px;
}

.mailing-form {
  display: flex;
}

.mailing-input {
  position: relative;
  z-index: 1;
  flex-grow: 1;
  width: 540px;
  height: 54px;
  margin: 0;
  padding: 0;
  padding-left: 17px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: inherit;
  border: none;
  border-bottom: 3px solid #c4c4c4;
}

.mailing-input:focus {
  background-color: #dcdcdc;
  outline: none;
}

.mailing-input:invalid {
  border-color: #ff3d3d;
}

.mailing-button {
  position: relative;
  display: inline-block;
  width: 253px;
  height: 57px;
  padding-left: 12px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border: 3px solid #cecece;
  cursor: pointer;
}

.mailing-button::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  z-index: 2;
  width: 257px;
  height: 61px;
}

.mailing-button:hover {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}

.mailing-button:focus {
  outline: none;
}

.mailing-button:focus::before {
  outline: 2px solid #af4fff;
}

.its-free {
  position: relative;
  display: block;
  /*width: 160px;*/
  padding: 0;
  margin: 0;
  text-align: right;
}

.its-free::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -25px;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("/device/images/itsfree.svg");
  background-repeat: no-repeat;
  transform: translateY(-50%);
}

.page-footer {
  color: #ffffff;
  background-color: #444444;
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  margin: 0 auto;
}

.footer-address-wrapper {
  padding-top: 62px;
}

.footer-logo-link {
  display: inline-block;
  margin-bottom: 25px;
}

.footer-logo-link:hover {
  opacity: 0.6;
}

.footer-logo-link:focus {
  outline: 2px solid #af4fff;
}

.footer-address-block {
  width: 239px;
}

.footer-address-text {
  margin: 0;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.footer-address-text::after {
  content: "";
  display: block;
  width: 80px;
  height: 7px;
  margin-top: 66px;
  background-color: #ffc700;
}

.footer-advantages-wrapper {
  flex-grow: 1;
  padding-top: 133px;
}

.footer-advantages {
  margin-bottom: 56px;
}

.footer-advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-advantages-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  margin-left: 35px;
}

.footer-advantages-link:hover {
  padding-bottom: 4px;
  color: #ffc700;
  border-bottom: 2px solid #ffc700;
}

.footer-advantages-link:focus {
  outline: 2px solid #af4fff;
}

.footer-phone-block {
  display: flex;
  flex-direction: column;
  padding-top: 133px;
  text-align: center;
}

.footer-social-link {
  display: flex;
  margin-left: 15px;
}

.footer-phone {
  margin-bottom: 60px;
}

.footer-phone-text {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
}

.footer-phone-text:hover {
  color: #ffc700;
}

.footer-phone-text:focus {
  outline: 2px solid #af4fff;
}

.footer-social {
  margin-bottom: 61px;
  padding-left: 11px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social-link:hover {
  background-color: #ffc700;
  border-radius: 50%;
}

.footer-social-link:focus {
  outline: 2px solid #af4fff;
}

.footer-social-link::before {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social-fa {
  width: 40px;
  height: 40px;
  background-image: url("/device/images/facebook.svg");
}

.footer-social-ins {
  width: 40px;
  height: 40px;
  background-image: url("/device/images/yotube.svg");
}

.footer-social-tw {
  width: 40px;
  height: 40px;
  background-image: url("/device/images/twitter.svg");
}

.footer-social-ht {
  width: 115px;
  height: 34px;
  background-image: url("/device/images/ht.svg");
  background-repeat: no-repeat;
  margin-left: 59px;
}

.footer-site-link:hover {
  color: #ffffff;
}

.footer-site-link:active {
  opacity: 0.3;
}

.footer-site-link:focus {
  outline: 2px solid #af4fff;
}

.main-page-catalog {
  flex-grow: 1;
  padding-top: 32px;
  background-color: #ffffff;
}

.main-header-catalog {
  box-sizing: border-box;
  width: 1160px;
  margin: 0 auto;
  padding-left: 60px;
}

.main-header-title-catalog {
  margin: 0 0 14px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

.breadcrumbs {
  display: flex;
  margin: 0 0 35px;
  padding: 0;
  line-height: 19px;
  list-style: url("/device/images/breadcrumbs-vector.svg");
}

.breadcrumbs-item {
  margin: 0 30px 0 0;
  padding-left: 8px;
}

.breadcrumbs-item:first-of-type {
  padding-left: 0;
  list-style: none;
}

.breadcrumbs-item:last-of-type {
  margin: 0;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  outline: 2px solid #af4fff;
}

.catalog-cover {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.catalog-products {
  background-color: #f0f0f0;
}

.filter-cover {
  box-sizing: border-box;
  width: 320px;
  padding: 25px 0 0 60px;
}

.filter-text {
  margin: 0 0 58px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.catalog-filter-group {
  margin: 0 60px 35px 0;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px 0 0;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
  border-top: 2px solid #000000;
}

.range {
  position: relative;
  margin-bottom: 31px;
  padding-top: 8px;
}

.range-scale {
  position: relative;
  height: 2px;
  margin-bottom: 15px;
  background-color: #dcdcdc;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #ebebeb;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  display: block;
  width: 18px;
  height: 18px;
}

.range-toggle:hover {
  background-color: #dcdcdc;
}

.range-toggle:focus {
  outline: none;
}

.range-toggle:focus::before {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -9px;
}

.range-wrapper-inputs {
  position: absolute;
  left: -15px;
  display: flex;
  justify-content: space-between;
  width: 240px;
  font-size: 15px;
  line-height: 18px;
  opacity: 0.3;
}

.catalog-range-label {
  display: flex;
}

.range-input {
  width: 30px;
  padding: 0 4px;
  font: inherit;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input:focus {
  outline: none;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 18px;
}

.filter-control {
  position: relative;
  display: block;
  padding-left: 36px;
  font-size: 16px;
  line-height: 19px;
}

.filter-control:hover {
  opacity: 0.6;
}

.control-mark {
  position: absolute;
  top: -1px;
  left: 0;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 2px solid #cccccc;
  border-radius: 3px;
}

.filter-input:disabled ~ span {
  opacity: 0.1;
}

.filter-input:checked + .control-mark {
  border-color: #000000;
}

.filter-input[type="checkbox"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  background-image: url("/device/images/vectorcolor.svg");
}

.filter-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.filter-input[type="radio"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
}

.filter-input:focus + .control-mark::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 20px;
  height: 20px;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.filter-button-cover {
  padding: 13px 0 0 7px;
}

.catalog-filter-button {
  width: 210px;
  border: none;
}

.catalog-products-cover {
  width: 840px;
}

.sorting-cover {
  display: flex;
  padding: 0 40px;
}

.sorting-text {
  margin: auto 0;
}

.select-control {
  margin: auto 203px auto auto;
  padding-right: 27px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.select-control:hover {
  opacity: 0.6;
}

.select-control:focus {
  outline: 2px solid #af4fff;
}

.arrow-button-cover {
  margin: 20px 0;
}

.arrow-button-wrapper {
  margin: 20px 0;
}

.arrow-button-wrapper:focus-within {
  outline: 2px solid #af4fff;
}

.catalog-arrow-button {
  display: block;
  width: 11px;
  height: 10px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
}

.catalog-arrow {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.button-up {
  background-image: url("../images/catalog-button-up.svg");
}

.button-down {
  background-image: url("../images/catalog-button-down.svg");
}

.catalog-arrow-button:hover {
  opacity: 0.5;
}

.catalog-arrow-button:focus {
  outline: none;
}

.catalog {
  display: grid;
  box-sizing: border-box;
  width: 840px;
  padding: 70px 40px 78px;
  background-color: #ffffff;
  row-gap: 44px;
}

.product-card-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 44px 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-card {
  position: relative;
}

.product-card:focus-within {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.product-card-image {
  position: relative;
  margin-bottom: 23px;
  background-color: #ffffff;
}

.product-card-cover {
  display: flex;
}

.product-card-link {
  width: 226px;
  margin-right: auto;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  letter-spacing: -0.02em;
}

.product-card-link:focus {
  outline: none;
}

.product-card-title {
  margin: 0;
  font-size: inherit;
}

.product-card-price {
  line-height: 21px;
  font-weight: 400;
  color: #444444;
}

.product-card-button {
  position: absolute;
  top: 170px;
  left: 70px;
  z-index: 3;
  display: none;
  width: 210px;
}

.product-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
  width: 360px;
  height: 380px;
  background: rgba(240, 240, 240, 0.8);
}

.product-card:hover::after {
  display: block;
}

.product-card:hover > .product-card-button {
  display: block;
}

.product-card:hover .product-card-link .product-card-title {
  opacity: 0.6;
}

.pagination-load-more {
  display: block;
  width: 760px;
  height: 55px;
  padding: 0 0 0 4px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-color: #ffffff;
  border: 3px solid #e5e5e5;
}

.pagination-load-more:hover {
  border-color: #000000;
}

.pagination-load-more:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.pagination-load-more:disabled {
  border-color: #e5e5e5;
  cursor: default;
  opacity: 0.3;
}

.pagination {
  display: flex;
  justify-content: center;
  width: 760px;
  height: 71px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ebebeb;
}

.pagination-item:first-child {
  margin-right: auto;
}

.pagination-item:last-child {
  margin-left: auto;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  height: 71px;
  padding: 26px 23px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.pagination-disabled {
  color: #ebebeb;
  cursor: default;
}

.pagination-page-number {
  position: relative;
  display: block;
  width: 40px;
  font-size: 16px;
  line-height: 71px;
  font-weight: 400;
  text-align: center;
  color: rgba(68, 68, 68, 0.3);
  text-decoration: none;
}

.pagination-current {
  cursor: default;
}

.pagination-link:hover {
  background-color: #dcdcdc;
}

.pagination-disabled:hover {
  background-color: #ebebeb;
}

.pagination-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.pagination-page-number::before {
  content: "";
  position: absolute;
  top: 13px;
  left: -2px;
  width: 44px;
  height: 44px;
}

.pagination-page-number:hover {
  color: #444444;
}

.pagination-page-number:focus {
  outline: none;
}

.pagination-page-number:focus::before {
  outline: 2px solid #af4fff;
}

.modal-container {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-open {
  display: flex;
}

.modal {
  position: relative;
  width: 920px;
  margin: auto;
  padding: 63px 70px;
  background-color: #ffffff;
  border: 10px solid #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
}

.modal-title {
  margin: 0 0 41px;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  font-family: "Raleway", "Tahoma", sans-serif;
}

.modal-close-button {
  content: "";
  position: absolute;
  top: 74px;
  right: 70px;
  width: 26px;
  height: 26px;
  padding: 0;
  background-color: transparent;
  background-image: url("/device/images/icon-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-close-button:focus {
  outline: 2px solid #af4fff;
}

.form-wrapper {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(2, auto);
}

.form-wrapper + .form-wrapper {
  margin-top: 42px;
}

.form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 20px;
  max-width: 360px;
}

.form-label {
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  font-family: "Rubik", "Tahoma", sans-serif;
  letter-spacing: -0.02em;
}

.form-input {
  width: 100%;
  max-width: 540px;
  max-height: 60px;
  padding: 18px 50px 18px 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Rubik", "Tahoma", sans-serif;
  color: #000000;
  background-color: #f0f0f0;
  border: 2px solid transparent;
}

.form-input:hover {
  background-color: #dcdcdc;
}

.form-input:focus {
  background-color: #ebebeb;
  outline: 2px solid #af4fff;
}

.form-input:disabled {
  opacity: 0.3;
}

.form-input-request {
  max-width: 540px;
}

.form-input-number {
  max-width: 180px;
  max-height: 60px;
  text-align: center;
}

.form-input-name {
  background-image: url("/device/images/icon-form-name.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 13px 12px;
}

.form-input-mail {
  background-image: url("/device/images/icon-form-mail.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 15px 12px;
}

.form-input-error {
  border: 2px solid #ff3d3d;
}

.form-input::placeholder {
  color: #000000;
  opacity: 0.3;
}

.form-message {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: "Rubik", "Tahoma", sans-serif;
}

.form-message-error {
  color: #ff3d3d;
}

.form-number-wrapper {
  position: relative;
}

.form-container-tooltip {
  display: flex;
}

.tooltip {
  position: relative;
  margin-top: -2px;
  margin-left: 9px;
}

.tooltip-toggle {
  display: block;
  width: 25px;
  height: 25px;
  background-color: #ffe17f;
  background-image: url("/device/images/icon-info.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;
}

.tooltip-text {
  position: absolute;
  top: 36px;
  left: 50%;
  z-index: 10;
  display: none;
  width: 256px;
  margin: 0;
  padding: 19px 22px 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Rubik", "Tahoma", sans-serif;
  color: #ffffff;
  text-transform: none;
  background-color: #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
  transform: translateX(-50%);
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 100%;
  left: 0;
  width: 19px;
  height: 9px;
  margin-right: auto;
  margin-left: auto;
  background-image: url("../images/icon-triangle-info.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.form-container-number {
  position: relative;
}

.form-number-button {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #f0f0f0;
  border: none;
}

.form-number-button-minus {
  left: 0;
}

.form-number-button-plus {
  right: 0;
}

.form-number-button:hover {
  background-color: #ebebeb;
}

.form-number-button:hover svg {
  opacity: 0.6;
}

.form-number-button:active {
  background-color: #f0f0f0;
}

.form-number-button:active svg {
  opacity: 0.3;
}

.form-number-button:focus {
  outline: 2px solid #af4fff;
}

.form-modal-submit {
  width: 200px;
  margin-top: 21px;
}

.navigation-user-item-card {
  position: relative;
}

.card-wrapper {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 10;
  display: none;
  padding-top: 20px;
  transform: translateX(-50%);
}

.navigation-user-item-card:hover .card-wrapper {
  display: block;
}

.card-container {
  position: relative;
  width: 320px;
  padding-bottom: 20px;
  background-color: #000000;
}

.card-container::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 100%;
  left: 0;
  width: 19px;
  height: 9px;
  margin-right: auto;
  margin-left: auto;
  background-image: url("../images/icon-triangle-info.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card-list {
  display: flex;
  flex-direction: column;
}

.card-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 18px;
}

.card-item + .card-item {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.card-item-link {
  display: flex;
  margin-right: 23px;
}

.card-item-link:hover {
  opacity: 0.6;
}

.card-item-link:active {
  opacity: 0.3;
}

.card-item-link:focus {
  outline: 2px solid #af4fff;
}

.card-image {
  width: 39px;
  height: 43px;
  margin-right: 23px;
}

.card-image img {
  display: block;
}

.card-title {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Rubik", sans-serif;
  color: #ffffff;
}

.card-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  background-color: transparent;
  background-image: url("../images/icon-close-popover.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.card-delete:hover {
  opacity: 0.6;
}

.card-delete:active {
  opacity: 0.3;
}

.card-delete:focus {
  outline: 2px solid #af4fff;
}

.card-total-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1a1a1a;
}

.card-total-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Rubik", sans-serif;
  color: #ffffff;
}

.card-link-btn {
  display: block;
  width: 280px;
  margin: 20px auto 0;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-color: #ffffff;
}

.card-link-btn:hover {
  background-color: #ffe17f;
}

.card-link-btn:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffe17f;
}

.card-link-btn:focus {
  outline: 2px solid #af4fff;
}

.card-link-btn:disabled {
  color: rgba(0, 0, 0, 0.3);
}

